</body>
<div class="cookies">
    <div class="cookies-texte">
        <p>En poursuivant la navigation, vous acceptez l'utilisation des cookies par le site afin de vous proposer des contenus adaptés et réaliser des statistiques.</p>
    </div>
    <div class="cookies-btn">
        <button class="bouton btn-ok">Accepter les cookies</button>
        <button class="bouton btn-deny">Paramètres des cookies</button>
    </div>
</div>
<footer>
<div id="media-container">
    <div id="contact">
        <h3>CONTACT</h3>

    
        <p class="list-contact"><i class="fa-solid fa-phone"></i> 06.19.25.20.66</p>
        <p class="list-contact"><i class="fa-solid fa-envelope"></i> <a mailto="#">ab-archi@gmail.com</a></p>
        <p class="list-contact"><i class="fa-solid fa-folder"></i> <a class="list-contact" href="{{path('emailForm')}}">Formulaire de contact</a>
            </p>
    </div>

    <div id="RS">
        <h3>SUIVEZ-MOI</h3>
        <br>
        <div class="icon">
            <i class="btn-rs fa-brands fa-instagram-square"></i>
            <i class="btn-rs fa-brands fa-facebook"></i>
            <i class="btn-rs fa-brands fa-linkedin"></i>
    </div>
    </div>

<div id="insta">
    <h3>INSTAGRAM</h3>
    <br>
    <div>
    <img src="{{asset('assets/images/image-insta/spacejoy1.jpg')}}" alt="bibliothèque" >
    <img src="{{asset('assets/images/image-insta/spacejoy2.jpg')}}" alt="balcon">
    <img src="{{asset('assets/images/image-insta/spacejoy3.jpg')}}" alt="entrée">
</div>
</div>

</div>
<div id="copyright">
<p >© Copyright 2022 ab-architecture |<a href="{{path('mentions_legales')}}" class="bas"> Mentions légales</a>  | Politiques de confidentialité</p>
</div>
</footer>
</html>